[submodule "themes/hugo-cat"]
	path = themes/hugo-cat
	url = git@github.com:httpsecure/hugo-cat.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
